/* Footer Component Styling */
.footer {
    background-color: #dd98a8;
    color: white; 
    padding: 20px 10px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
  }
  
  .footer-section p,
  .footer-section ul {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s;
    color: #ffffff;
  }
  
  .footer-section ul li:hover {
    color: #ffd0da; 
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  