/* OurReach.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .our-reach-container {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #dd98a8;
    margin-bottom: 40px;
  }
  
  .section {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .section-image {
    width: 50%;
    height: 60vh;
    object-fit: cover;
  }
  
  .section-content {
    width: 50%;
    padding: 20px;
    color: #333;
  }
  
  .section-content h2 {
    color: #dd98a8;
    margin-bottom: 15px;
  }
  
  .section-content p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .section-content a {
    text-decoration: none;
    color: #e5bac3;
    font-weight: bold;
  }
  
  .section-content a:hover {
    color: #dd98a8;
  }
  