.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent; 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
  transform: translateY(-100%); 
}

.navbar.visible {
  transform: translateY(0); 
}

.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #ffdbed;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-right: 3rem;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffdbed;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  display: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgba(210, 166, 177, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 4rem;
    z-index: 999;
    transition: transform 0.3s ease-in-out; 
  }

  .nav-links.active {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .logo a {
    font-size: 1.2rem;
  }

  .nav-links a {
    font-size: 1.1rem;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    width: 100%;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
    display: block;
  }

  .dropdown-menu li {
    padding: 10px 0;
  }

  .dropdown-menu li a {
    padding: 10px;
  }

  .dropdown {
    width: 100%;
  }

  .nav-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    z-index: 1001;
  }

  .nav-toggle:focus {
    outline: none;
  }

  .nav-toggle.active {
    z-index: 1002;
  }
}

@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}
